# compiled binaries
meshnet.exe
meshnet

# the identity file contains your PRIVATE KEY
# never ever commit this to a public repo
identity.json
identity2.json
peers.json

# Go build cache
*.test
*.out

# Windows stuff
Thumbs.db
desktop.ini